.goBtn {
    text-align: center;
    border: none;
    background: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 55%;
  }
  
.goBtn {
    --primary-color: white;
    --hovered-color: #c84747;
    display: flex;
    font-weight: 800;
    font-size: 0.6em;
    gap: 0.5rem;
    align-items: center;
  }
  
.goBtn p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color);
  }
  
.goBtn::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
.goBtn p::before {
    position: absolute;
  /*   box-sizing: border-box; */
    content: "Find!";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  
.goBtn:hover::after {
    width: 100%;
  }
  
.goBtn:hover p::before {
    width: 100%;
  }
  
.goBtn:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color)
  }
  
.goBtn svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
  }