.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 4px;
  height: 33px;
  width: 33px;
  border: none;
  /* background: #998cd333; */
  background: white;
  border-radius: 20px;
  cursor: pointer;
}

.lable {
  font-weight: 1000;
  line-height: 20px;
  font-size: 12px;
  color: #5D41DE;
  font-family: sans-serif;
  letter-spacing: 0px;
}

.button:hover {
  background: #5e41de4d;
}

.button:hover .svg-icon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}