.radio-inputs {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
  
.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}
  
.radio-inputs .radio input {
    display: none;
}
  
.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    justify-content: center;
    border: none;
    padding: .5rem 0;
    color: #2A2B2E;
    font-size: 1rem;
    font-weight: 500;
    transition: all .15s ease-in-out;
    min-width: 4rem;
}   
  
.radio-inputs .radio input:checked + .name {
    /* background-color: #EFF4FF; */
    font-weight: 700;
    color: #6A74C9;
    border-bottom: 1px solid #6A74C9;
}