  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 150vh;
  }

  .form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    height: 70%;
  }
  
  .form .title {
    color: #6A74C9;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center {
    margin: auto;
  }

  .profile-container {
    position: relative;
  }

  .dropdown {
    position: absolute;
    bottom: -10px;
    margin-left: 75px;
    width: 100px;
    height: 50px;
    border: 1px solid #ffffff;
    background: #ffffff;
    border-radius: 10px;
  }

  .profile {
    margin-top: 10px;
    width: 110px; 
    height: 110px; 
    border-radius: 50%; 
    overflow: hidden;
    border: 3px solid white;
    position: relative;
    /* filter: brightness(1); */
  }

  /* .profile-container:hover {
    filter: brightness(0.9);
  } */

  .profileImg {
    display: none;
  }

  .imgbtn {
    font-size: 19px;
    color: black;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .imgbtn:focus,
  .imgbtn:hover {
    color: #6A74C9;
  }
  
  .name {
    margin-bottom: 10px;
  }

  .input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

  .inputNick {
    flex: 2;
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding-left: 14px;
    border-radius: 8px;
    width: 540px;
    height: 50px;
  }

  .form textarea {
    border-radius: 8px;
    height: 100px;
    width: 600px;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
  }

  .inputEmail {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 600px;
    height: 50px;
  }
  
  .dupbtn {
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    background-color: #6A74C9;
    transition: 0.5s;
    color: #fff;
    cursor: pointer;
  }

  .dupbtn:hover {
    color: black;
  }

  .subbtn {
    height: 40px;
    width: 30%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #6A74C9;
    color: white;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 3em;
  }
  
  .subbtn:hover {
    color: black;
  }

  .invalid {
    color: red;
    font-size: 7px;
    display: inline-block;
    margin-left: 10px; 
  }

  .centerbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.dropdownbtn {
  width: 40px;
  height: 40px;
  transform: translate(-90%, 0%);
}

